header{
color:orangered;
background-color:aqua;
font-size:30px;
padding:30px;
font-weight:900;
text-align: center;
}

li{
    display:inline-block;
}
#a{
    border:2px solid red;
}
h2{
    border:2px solid blue;
}
